.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: black 1px solid; /* 테두리 추가 */
}

.logo img {
  height: 90px;
  width: 110px;
  margin-left: 20px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 21px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  position: relative; /* ::after 요소를 위한 상대 위치 설정 */
}

/* 네비게이션바 효과 */

nav ul li a:hover {
  color: #60dafb;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px; /* 하단 바를 약간 아래로 위치 */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  background: #f1c40f;
  transition: all.3s ease-out;
  /* color: #60dafb; */
}

nav ul li a:hover::after {
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 24px;
}

h2 {
  margin: 0;
  font-size: 18px;
  color: #666;
}
